.submit{
    padding: 10px 150px;
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
    background-color: white;
    border-radius: 30px;
    margin-right: 150px;
    cursor: pointer;

}
.submit:hover{
    background-color: var(--mainColor);
    color: white;
}



.prev img , .next img{
    width: 25px;
    cursor: pointer;
}

.prev{
    margin-right: 20px;
    border: 0;
}
.next{
    margin-left: 20px;
    border: 0;
}

.flip{
    transform: rotateY(180deg)  
}